@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text);
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input {
  padding: 8px;
  background-color: var(--bgSoft);
  color: var(--text);
  border-radius: 4px;
  outline: none;
  border: none;
}